* {
  box-sizing: border-box;
  user-select: none;
}

.bg {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-size: cover;
  background-position: center;
  z-index: 3;
}
.bg h2 {
  z-index: 2;
}

.bg .clip-text {
  overflow: hidden;
}

section .bg {
  background: #eeeff4;
}

h2 * {
  will-change: transform;
}
