:root {
  --theme-color: #eeeff4;
  --primary: #404be0;
  --secondary: #1c2161;
  --body-text: #022222;
  --dark-color: #111;
  --base-color: #454a53;
  --primary-font: "Inter", sans-serif;
  --secondary-font: "Inter", sans-serif;

  /* spacings  */
  /* a=320,1320,100—180 */
  --spacing-gap: clamp(6.25rem, 4.65rem + 8cqi, 11.25rem);

  /* a=320,1320,40—80 */
  --spacing-2xl: clamp(2.5rem, 0.05rem + 6cqi, 5rem);

  /* a=320,1320,24—48 */
  --spacing-xl: clamp(1.5rem, 1.02rem + 2.4cqi, 3rem);

  /* a=320,1320,16—48 */
  --spacing-lg: clamp(1rem, 0.36rem + 3.2cqi, 3rem);

  /* a=320,1320,12—40 */
  --spacing-md: clamp(0.75rem, 0.19rem + 2.8cqi, 2.5rem);

  /* a=320,1320, 8—32 */
  --spacing-sm: clamp(0.5rem, 0.02rem + 2.4cqi, 2rem);

  /* a=320,1320,4—24 */
  --spacing-xs: clamp(0.25rem, -0.15rem + 2cqi, 1.5rem);
}

/* template-color */
