---
import Navigation from "../shared/Navigation.astro";
import "../../styles/animationone.css"
---


<header>
    <Navigation />
</header>

<section class="content-element">

          <h2 class="section-heading">Contacts</h2>

  </section>
