---
import InfiniteScroll from "./Infinite-Scroll.astro";

---
<div class="element-panel relative">
    <div class="overlay"></div>
    <img class="hero" src="/image/heroBg.svg" alt="">
    <div class="content-panel pt-[2.4375rem] md:pt-[49px] 2xl:pt-[77px]">
      <div class="flex flex-col items-center justify-center text-center">
        <h1 class="section-heading w-full sm:max-w-[585px] xl:max-w-[780px]">Take <span>your</span> dream <br class="hidden lg:block"/> project from <span>concept</span> to reality with us!</h1>
    <p class="max-w-[26.2187rem] md:max-w-[629.25px] 2xl:max-w-[839px] my-8">Our design team develops custom graphics, websites, and landing pages for brands to tell their stories and increase conversions.</p>
    <div class="">
      <button class="primary text-[1.0937rem] md:text-[26.25px] 2xl:text-[35px] rounded-full capitalize">schedule a project</button>
    </div>
    <!-- <div class="bg-white rounded-3xl py-3 md:py-[18px] 2xl:py-6 max-w-max max-h-[100.71px] mt-16 flex items-center justify-between px-8 md:px-12 2xl:px-16 gap-11 overflow-hidden">

       <img src="/image/slack.png"  class="object-contain grayscale" alt="">


        <img src="/image/gdrive.png" class="object-contain" alt="">


        <img src="/image/trello.png" class="object-contain grayscale" alt="">

    </div> -->

      <InfiniteScroll />
      </div>
    </div>
</div>

<style>
    .overlay {
        position: absolute;
        top: -10%;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(to bottom, #eeeff4, #eeeff494);
        z-index: -1;
    }

    .hero {
        position: absolute;
        width: 70%;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -2;
    }

    /* h1 {
        color: var(--secondary);
        font-weight: 600;
        line-height: 1;
        letter-spacing: 0rem;
        font-size: 34px;
        width: 100%;
        padding: 1rem .5rem;
    } */

    /* @media only screen and (min-width: 540px) and (max-width: 639px) {
  h1 {
    font-size: 3rem;
    width: clamp(520px, 55vw, 590px);
  }
}

@media only screen and (min-width: 640px) and (max-width: 960px) {
  h1 {
    font-size: 3rem;
    width: clamp(540px, 70vw, 540px);
    padding: 0 .5rem;
    margin-top: 0;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1280px) {
  h1 {
    font-size: 3.5rem;
    width: clamp(840px, 80vw, 920px);
    letter-spacing: -.2rem;
    margin-top: 3rem;
  }
}
@media only screen and (min-width: 1281px) and (max-width: 1534px) {
  h1 {
    font-size: 4rem;
    width: clamp(1140px, 60vw + 8rem, 1280px);
    padding: 0 1rem;
  }
} */

@media only screen and (min-width: 1535px) {
  h1 {
    margin-top: 2rem;
    font-size: 4.5rem;
    width: clamp(1280px, 70vw, 1320px);
  }

  p,
  a {
    font-size: 20px;
  }
}

</style>
