---

---
<div class="heading text-center">
    <h2 class="section-heading">Here are some of <br class="hidden lg:block"/>
<span>our designs</span> you'll love!</h2>
<p class="mt-3 md:mt-5 lg:mt-7 xl:mt-9 px-[14%]">Our mission is to provide you with the <br/> highest-quality digital experiences</p>
</div>
<div class="!max-w-[1000px] mx-auto rounded-xl overflow-hidden my-8 border-2 border-white shadow-xl bg-white">
    <div class="p-8">
        <div class="flex xl:flex-nowrap gap-3 items-center justify-center">
           {["All", "Web","Graphic","Logo","UI/UX","Landing Page"].map(i => <button id="brand" class="px-11 py-[18px] bg-[var(--theme-color)] border-2 border-white rounded-md hover:bg-primary hover:text-white shadow-md hover:shadow-none">
                    {i}
            </button>)}
        </div>
            <div class="w-full grid grid-cols-4 grid-rows-2 pt-[4rem] px-2 gap-8">
            <div class="rounded-lg">
                <img src="/image/portfolio/1.png" class="object-cover object-left w-full h-[154px] aspect-square" alt="">
            </div>
            <div class="col-span-2 h-[154px] overflow-hidden">
                <img src="/image/portfolio/2.png" class="object-fill object-bottom-left w-full" alt="">
            </div>
            <div class="">
                <img src="/image/portfolio/3.png" class="object-cover w-full h-[308px]" alt="">
            </div>
        </div>
    </div>
</div>

<style>

</style>